body {
    text-align: center;
    font-family: Arial;
}


#glyph {
    font-size: 150px;
    margin: 40px;
}


.choice {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 200px;
    font-size: 20px;
}


.selected {
    background: lightblue;
}